<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Whastapp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Whastapp.My.MySettings>
            <setting name="PathExport" serializeAs="String">
                <value />
            </setting>
            <setting name="DelayMessageLampiran" serializeAs="String">
                <value />
            </setting>
            <setting name="DelayMessageTanpaLampiran" serializeAs="String">
                <value />
            </setting>
            <setting name="SatuanInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="NilaiInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="LokasiFileReport" serializeAs="String">
                <value />
            </setting>
            <setting name="KalimatAutoReply" serializeAs="String">
                <value />
            </setting>
            <setting name="KodeCabang" serializeAs="String">
                <value />
            </setting>
            <setting name="NamaCabang" serializeAs="String">
                <value />
            </setting>
        </Whastapp.My.MySettings>
    </userSettings>
</configuration>