<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EcomDTW.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EcomDTW.My.MySettings>
            <setting name="Servername" serializeAs="String">
                <value />
            </setting>
            <setting name="Databasename" serializeAs="String">
                <value />
            </setting>
            <setting name="UsernameDB" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordDB" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerNameIntegrasi" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasenameIntegrasi" serializeAs="String">
                <value />
            </setting>
            <setting name="UsernameDBIntegrasi" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordDBIntegrasi" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusIntegrasi" serializeAs="String">
                <value />
            </setting>
            <setting name="SatuanDurasi" serializeAs="String">
                <value />
            </setting>
            <setting name="NilaiDurasi" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DBmysql" serializeAs="String">
                <value />
            </setting>
            <setting name="DBSqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="UsernameMySQL" serializeAs="String">
                <value />
            </setting>
            <setting name="UsernameSQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordMySQL" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordSQLServer" serializeAs="String">
                <value />
            </setting>
        </EcomDTW.My.MySettings>
    </userSettings>
</configuration>